.form__fieldset{
    background-color: rgba(245, 245, 220, 0.842);
    border: 3px solid black;
    padding: 30px;
    border-radius: 25px;
    margin: 30px; 
}

.form__legend{
    background-color: tomato;
    color: black;
    border-radius: 15px;
    padding: 10px;
}

.form__labelElement{
    max-width: 300px;
    width: 100%;
    display:inline-block;
    margin-right: 15px;
}

.form__field{
    border: 2px solid rgb(204, 204, 204);
    padding: 10px;
    width: 100%;
    max-width: 250px;
    border-radius: 15px;
    border-color: black;
    margin-bottom: 5px;
}

.form__field:required{
    border-color: rgb(0, 47, 255);
    background-color: rgba(250, 246, 246, 0.705);
}

.form__field:valid{
    background-color: #6bf36b;
}

.form__button{
    width: 100%;
    border:none;
    background-color: rgb(0, 113, 128);
    color: white;
    padding: 10px; 
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.form__button:hover{
    background-color: #7dd30c;
}

.form__button:active{
    background-color: hsl(98, 95%, 47%);
}